:root {
   --dark: hsl(0 0% 14%);
   --valid: hsl(141, 54%, 56%);
   --invalid: hsl(347, 54%, 56%);
   --text: hsl(0 0% 92%);
   --accent: hsl(158, 83%, 38%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container{
   height: 100%;
   display: flex;
   justify-content: center;
}