:root {
   --dark: hsl(0 0% 14%);
   --valid: hsl(141, 54%, 56%);
   --invalid: hsl(347, 54%, 56%);
   --text: hsl(0 0% 92%);
   --accent: hsl(158, 83%, 38%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat";
}

html,
body {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   height: 100%;
   width: 100vw;
   display: flex;
   justify-content: center;
   border: 1px solid black;
}

.container > div:nth-child(2n) {
   flex-grow: 1;
}

.container-sidebar {
   z-index: 0;
   position: relative;
   height: 100%;
   width: 370px;
   box-shadow: 1px 0 12px var(--dark);
   background: #ffff
      url(svg/Soothing\ Black\ And\ White\ GIF\ by\ Pi-Slices.gif) center/cover
      no-repeat;
   /* background: fixed cover/fixed ; */
   display: flex;
   flex-direction: column-reverse;
   justify-content: end;
   align-items: center;
   /* padding-bottom: 1rem; */
   font-weight: bold;
   letter-spacing: 6px;
}

#text {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 60px;
   background-color: hsla(245, 52%, 5%, 0.5);
   color: hsl(0, 0%, 91%);
   font-size: 1.5rem;
}

.container-form > .header {
   z-index: 2;
   background: linear-gradient(
      130deg,
      hsl(245, 50%, 5%),
      hsl(245, 50%, 7%),
      hsl(250, 50%, 10%),
      hsl(280, 50%, 20%)
   );
   overflow: hidden;
   height: 20%;
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 2rem;
   box-shadow: 0 0 12px var(--dark);
}

.header > h2 {
   font-family: "Sekuya" !important;
   font-size: 2.5rem;
   color: hsl(0, 0%, 91%);
   letter-spacing: 10px;
}

.container-form > .form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 60%;
   padding: 8px;
}

form {
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 8px;
}

.form-main {
   display: flex;
   gap: 1rem;
}

.form-main > fieldset {
   flex-grow: 1;
   border: none;
}

form > fieldset {
   flex-grow: 1;
   position: relative;
   border-radius: 4px;
   border: none;

   /* border: 2px solid var(--dark); */
}

fieldset:not(.form-main) {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   /* align-items: center; */
   gap: 1rem;
}

legend {
   text-align: left;
   padding: 6px 1rem;
   color: hsl(0, 0%, 91%);
   letter-spacing: 9px;
   border-radius: 8px;
   background-color: var(--dark);
   margin-bottom: 12px;
}

.group {
   display: flex;
   flex-direction: column;
   gap: 4px;
   padding: 4px;
   position: relative;
}

.group > span {
   height: 12px;
   font-size: 12px;
}

.radio-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   padding-top: 1rem;
}

label:not(label[for=radio]) {
   font-size: 14px;
   letter-spacing: 4px;
   font-weight: bold;
   color: var(--dark);
   position: absolute;
   background-color: var(--dark);
   color: hsl(0, 0%, 91%);
   border-radius: 4px;
   top: -1px;
   left: 20px;
   padding: 2px 8px;
}

input:not(input[type="radio"]) {
   height: 60px;
   font-size: 1.2rem;
   padding-left: 1rem;
   border: 2px solid hsl(250, 50%, 10%);
   border-radius: 8px;
   margin-top: 5px;
}

input:focus:not(input[type="radio"]) {
   outline: none;
}

input[type="radio"] {
   transform: scale(2);
   accent-color: hsl(300, 70%, 45%);
}

button[type="button"] {
   color: hsl(0, 0%, 91%);
   font-size: 1.4rem;
   border-radius: 8px;
   border: none;
   letter-spacing: 10px;
   padding: 1rem 0;
   background: linear-gradient(
      130deg,
      hsl(245, 50%, 5%),
      hsl(245, 50%, 7%),
      hsl(250, 50%, 10%),
      hsl(280, 50%, 20%)
   );
   font-weight: bolder;
   background-clip: border-box;
}

#message.invalid {
   color: var(--invalid);
}

.inputs.invalid {
   border: 2px solid var(--invalid) ;
}

.inputs.valid {
   border: 2px solid var(--valid) ;
}
